#editor-layout {
	width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	height: 0;

	.block {
		width: 32.66%;
		float: left;
		margin: 0 auto;
		text-align: left;
		cursor: text;
		
		textarea {
			background: $chalk;
			border: none;
			resize: none;
			width: 100%;
			height: 380px;

			&:focus {
				outline: none;
			}
		}

		&:nth-child(2) {
			margin: 0 1%;
		}

		.editor-info {
			padding: 10px;
			background: $chalk;
			position: relative;
			
			
			.editor-settings {
				

				p {
					font-family: $base-font-family;

				}
				
				a {
					color: $accent-color;
					text-decoration: none;

					.fa-cog {
						position: absolute;
						right: 15px;
						top: 11px;
					}
				}
			}
		}

		.CodeMirror {
			padding: 10px 0;
			text-align: left;
		}
	}
}