#editor-layout {
	width: 94%;
	height: 100%;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	.block {
		width: 32%;
		
		textarea {
			background: $chalk;
			border: none;
			resize: none;
			width: 100%;
			height: 350px;

			&:focus {
				outline: none;
			}
		}
	}
}