.follow-wrapper {
	margin-top: 15px;
}

.container12 {

	.row {

		.column2 {
			text-align: center;

			img {
				width: 100px;
				height: 100px;
			}

			a {
				text-decoration: none;
				color: $accent-color;
				font-size: $base-font-size;
				display: block;
				margin-top: 5px;
			}
		}
	}
}