header {
  padding: 20px 0;
  clear: both;
  width: 100%;

  #header-wrapper {
    width: 95%;
    margin: 0 auto;

    .intro {
      float: left;

      .logo, .new-scrib {
        float: left;

        a {
          font-family: $base-font-family;
          font-size: $base-font-size;
          text-decoration: none;
          color: $accent-color;
          display: inline-block;
          padding: $small-button;
          border: 1px solid transparent;
        }

        .logo-anchor {
          padding: 5px 0;
        }
      }

      .new-scrib {
        margin-left: 15px;
        
        a {
          color: $chalk-dark-text;
          @include border-radius(1px);;
          background: $chalk;
          margin-right: 5px;
          border: 1px solid $chalk-dark;
          padding: 5px 11px;
          text-align: center;
        }

        .ion-ios7-arrow-right {
          font-size: 11px;
          display: inline-block;
          margin-left: -10px;
          opacity: 0;
          @include transition(all, .35s, ease);
        }

        &:hover .ion-ios7-arrow-right {
          opacity: 1;
          margin: 0 0 0 3px;
          padding-right: 5px;
        }
      }
    }
    

    .user {
      float: right;
      position: relative;
      display: inline-block;

      li {
        display: inline-block;

        .username {
          background: $chalk;
          padding: $small-button;
          margin-left: 10px;
          position: relative;
          float: right;
          border: 1px solid $chalk-dark;
          @include transition(all, .2s, ease);
          color: $chalk-dark-text !important;

          .ion-ios7-arrow-down {
            font-size: $small-font-size;
            display: inline-block;
            margin-left: 5px;
          }
          
          &:hover {
            background: $chalk-dark;
            color: $accent-color;
          }

        }

        .notification {
          margin: 0;

          span {
            padding: $small-button;
            background: $secondary-accent;
            font-family: $base-font-family;
            font-size: $base-font-size;
            display: inline-block;
            float: right;
            @include border-radius(1px);
            color: white;
            border: 1px solid $secondary-accent-dark;
            @include transition(all, .2s, ease);

            &:hover {
              background: $secondary-accent-dark;
            }
          }
        }
      }

      .notification, .username {
        text-decoration: none;
        font-family: $base-font-family;
        font-size: $base-font-size;
        color: $accent-color;
        display: inline-block;
        @include border-radius(1px);
      }
    }
  }
}
