header {
  padding: 25px 0;
  clear: both;
  width: 100%;
  text-align: center;

  #header-wrapper {
    width: 95%;
    margin: 0 auto;
    display: inline-block;

    .intro {
      float: left;

      .logo, .new-scrib {
        float: left;

        a {
          font-size: $base-font-size;
          text-decoration: none;
          color: $accent-color;
          display: inline-block;
          padding: $small-button;
        }

        span {
          font-size: 10px;
        }

        .logo-anchor {
          padding: 7px 0;
        }
      }

      .new-scrib {
        margin-left: 20px;
        position: relative;
        
        a {
          color: white;
          @include border-radius(1px);;
          background: $green;
          margin-right: 5px;
          padding: $small-button;
          text-align: center;
          @include transition(all, .15s, ease);
        }
      }

      .scribe-options {
        float: left;
        padding: 0;

        button {
          color: #ccc;
          padding: $small-button;
          float: left;
          font-size: $base-font-size;
          text-decoration: none;
          background: none;
          display: block;
          cursor: pointer;
          border: none;

          &:hover {
            color: #f0506b;
          }

          &:active {
            color: #ea052c;
          }

          &:focus {
            outline: none;
          }

        }

        i {
          font-size: $small-font-size;
        }

        #like-scribe.active {
          color: #ea052c;
        }
      }
        .counter {
          float: left;
          text-decoration: none;
          background: $chalk;
          padding: $small-button;
          @include border-radius(1px);
          color: $chalk-dark-text;
          position: relative;
          margin-left: 3px;
          font-size: $base-font-size;

          .triangle-left {
            position: absolute;
            left: -4px;
            top: 10px;
            width: 0; 
            height: 0; 
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid $chalk;
            transition: all .15s;
          }
        }
    }
    

    .user {
      float: right;
      display: inline-block;

      li {
        display: inline-block;

        .dropdown {
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          padding: 0;
          background: $chalk;
          z-index: 100;

          padding: $small-button;
          @include border-radius(1px);

          li {
            display: block;
            margin: 8px 10px;
            text-align: center;


            a {
              text-decoration: none;
              color: $chalk-dark-text;
              font-size: $base-font-size;
              display: block;

              &:hover {
                text-decoration: underline;
                color: $accent-color;
              }
            }
          }
        }

        .username {
          padding: 4px 16px;
          margin-left: 10px;
          float: right;
          @include transition(all, .2s, ease);
          color: $chalk-dark-text !important;
          
          &:hover {
            color: $accent-color;
          }

          i {
            font-size: $large-font-size;
          }

       }

      .sign-up {
        @extend .username;
      }

        .notification {
          margin: 0;
          display: none;

          span {
            padding: $small-button;
            font-size: $base-font-size;
            display: inline-block;
            float: right;
            @include border-radius(1px);
            color: $secondary-accent-dark;
            @include transition(all, .2s, ease);

            i {
              font-size: $base-font-size;
            }
          }
        }

        .header-options {

          span {
            color: $chalk-dark-text;
          }
        }
      }

      .notification, .username, .header-options {
        text-decoration: none;
        font-size: $base-font-size;
        color: $accent-color;
        display: inline-block;
        @include border-radius(1px);
      }
    }
  }
}
