#content-wrapper {

	.container12 {


		.row {


			.column12 {
				text-align: center;

				.profile-image {
					display: inline-block;
					width: 100px;
					height: 100px;
					background: $chalk;
					border-radius: 50%;
				}

				.username {
					font-family: $base-font-family;
					color: $accent-color;
					text-decoration: none;
					font-size: $base-font-size;
				}

				.user-info {
					margin: 0 10px;
					display: inline-block;

					a {
						@extend .username;
						font-size: $mediam-font-size;
						color: $chalk-dark-text;
					}
				}

				.bio {
					width: 30%;
					margin: 0 auto;

					a {
						@extend .username;
						font-size: $base-font-size;
					}
				}

				.user-actions {
					margin-top: 5px;

					.follow {
						@extend .username;
						font-size: $base-font-size;
						color: $chalk-dark-text;
						background: $chalk;
						border: 1px solid $chalk-dark;
						padding: $small-button;
						border-radius: 1px;
					}

					.message {
						@extend .follow;
						margin: 0 3px;
					}

					.block {
						@extend .follow;
						color: white;
						border: 1px solid #dd483b;
						background: $notification-error;
					}

					.block, .message, .follow {
						border-radius: 1px;
					}
				}
			}
		}
	}

	.profile-container {
		margin-top: 30px;
	}
}