.container12 {
	margin-top: 75px !important;

	.row {
		
		
		.column4 {
			height: auto;
			text-align: center;

			form {

				input {
					background-color: $chalk;
					font-family: $base-font-family;
					font-size: $mediam-font-size;
					display: block;
					padding: 15px;
					border: none;
					width: 65%;
					margin: 10px auto;
					box-sizing: border-box;

					&::-webkit-input-placeholder {
						font-family: $base-font-family;
						font-size: $mediam-font-size;
						color: $accent-color;
					}
					
					&:focus {
						outline: none;
					}
				}

				input[type="button"] {
					background: $notification-error;
					color: white;
					cursor: pointer;
				}

				.save {
					background: $notification-unread !important;
					color: $accent-color !important;
				}
				
				.custom-file-input {
					padding: 12px 15px;
				}

				.custom-file-input::-webkit-file-upload-button {
					visibility: hidden;
					width: 0;
					position: relative;
				}

				.custom-file-input::before {
					content: 'set profile picture';
					display: block;
					padding: 5px 8px;
					background: $chalk;
					outline: none;
					white-space: nowrap;
					-webkit-user-select: none;
					cursor: pointer;
					font-weight: 400;
					font-size: $mediam-font-size;
					visibility: visible;
					position: absolute;
				}
				.custom-file-input:hover::before {
					visibility: visible
					
				}
			}

			select {
				border: 0 !important;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-color: $chalk;
				text-overflow: "";
				font-family: $base-font-family;
				font-size: $mediam-font-size;
				display: block;
				padding: 14px 15px;
				border: none;
				width: 65%;
				margin: 10px auto;
				box-sizing: border-box;

				option {
					padding: 15px;
					display: block;
				}

				&:focus {
					outline: none;
				}
			}

			select::before {
				content: "\f107";
			}
		}
	}
}