#login-wrapper {
  width: 200px;
  height: 145px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .login-logo {

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: $base-font-family;
      font-size: $base-font-size;
      color: $accent-color;
      margin-bottom: 20px;
    }
  }

  form {
    text-align: center;

    input {
      display: block;
      padding: 15px;
      margin: 10px;
      background: $chalk;
      border: none;
      width: 100%;
      font-family: $base-font-family;
      font-size: $mediam-font-size;
      color: $accent-color;

      &::-webkit-input-placeholder {
        font-family: $base-font-family;
        font-size: $mediam-font-size;
        color: $accent-color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}