@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/* line 5, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, #sign-up-wrapper .sign-up, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes tick {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 1, ../sass/includes/_header.scss */
header {
  padding: 20px 0;
  clear: both;
}
/* line 5, ../sass/includes/_header.scss */
header #header-wrapper {
  width: 95%;
  margin: 0 auto;
}
/* line 9, ../sass/includes/_header.scss */
header #header-wrapper .intro {
  float: left;
}
/* line 12, ../sass/includes/_header.scss */
header #header-wrapper .intro .logo, header #header-wrapper .intro .new-scrib {
  float: left;
}
/* line 15, ../sass/includes/_header.scss */
header #header-wrapper .intro .logo a, header #header-wrapper .intro .new-scrib a {
  font-family: "Inconsolata";
  font-size: 16px;
  text-decoration: none;
  color: #151515;
  display: inline-block;
  padding: 3px 7px;
}
/* line 25, ../sass/includes/_header.scss */
header #header-wrapper .intro .new-scrib {
  margin-left: 15px;
}
/* line 28, ../sass/includes/_header.scss */
header #header-wrapper .intro .new-scrib a {
  color: #F3F2F2;
  background: #151515;
  margin-right: 5px;
}
/* line 38, ../sass/includes/_header.scss */
header #header-wrapper .user {
  float: right;
  position: relative;
  display: block;
}
/* line 43, ../sass/includes/_header.scss */
header #header-wrapper .user li {
  display: inline-block;
}
/* line 47, ../sass/includes/_header.scss */
header #header-wrapper .user li .username, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a {
  background: #F3F2F2;
  padding: 3px 7px;
  margin-left: 10px;
  position: relative;
}
/* line 53, ../sass/includes/_header.scss */
header #header-wrapper .user li .username .fa-angle-down, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a .fa-angle-down, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a .fa-angle-down, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a .fa-angle-down, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a .fa-angle-down {
  font-size: 13px;
  display: inline-block;
  margin-left: 7px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 60, ../sass/includes/_header.scss */
header #header-wrapper .user li .username:hover .fa-angle-down, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a:hover .fa-angle-down, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a:hover .fa-angle-down, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a:hover .fa-angle-down, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a:hover .fa-angle-down {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 65, ../sass/includes/_header.scss */
header #header-wrapper .user li:hover .dropdown {
  opacity: 1;
  margin-top: 3px;
  height: 500px;
}
/* line 72, ../sass/includes/_header.scss */
header #header-wrapper .user li a .notification {
  padding: 3px 7px;
  background: #F0E68C;
  font-family: "Inconsolata";
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}
/* line 82, ../sass/includes/_header.scss */
header #header-wrapper .user li .dropdown {
  position: absolute;
  right: 0;
  width: 123px;
  opacity: 0;
  margin-top: 0;
  transition: all .2s ease;
  overflow: hidden;
  height: 0;
}
/* line 92, ../sass/includes/_header.scss */
header #header-wrapper .user li .dropdown li {
  display: inline-block;
  margin-bottom: 3px;
}
/* line 96, ../sass/includes/_header.scss */
header #header-wrapper .user li .dropdown li a {
  display: block;
  background: #F3F2F2;
  padding: 3px 7px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 102, ../sass/includes/_header.scss */
header #header-wrapper .user li .dropdown li a:hover {
  background: #151515;
  color: white;
}
/* line 111, ../sass/includes/_header.scss */
header #header-wrapper .user a, header #header-wrapper .user .username, header #header-wrapper .user #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user a, header #header-wrapper .user #content-wrapper .container12 .row .column12 .bio a, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user a {
  text-decoration: none;
  font-family: "Inconsolata";
  font-size: 16px;
  color: #151515;
  display: inline-block;
}

/* line 1, ../sass/includes/_content.scss */
#content-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 6, ../sass/includes/_content.scss */
#content-wrapper .container12 {
  margin-top: 15px;
}
/* line 11, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3, #content-wrapper .container12 .row .column4 {
  height: 220px;
  position: relative;
  background: #F3F2F2;
  margin-bottom: 20px;
}
/* line 17, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .created-by, #content-wrapper .container12 .row .column4 .created-by {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 0px 0 0px 7px;
  color: #151515;
  background: white;
  font-family: "Inconsolata";
  text-transform: lowercase;
  padding: 3px 7px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 32, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .scrib-pop, #content-wrapper .container12 .row .column4 .scrib-pop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(240, 230, 140, 0.85);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}
/* line 43, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .scrib-pop .view-scrib, #content-wrapper .container12 .row .column4 .scrib-pop .view-scrib {
  color: #151515;
  text-decoration: none;
  font-family: "Inconsolata";
  font-size: 16px;
  padding: 3px 7px;
  background: white;
  line-height: 225px;
}
/* line 54, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .scrib-info, #content-wrapper .container12 .row .column4 .scrib-info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 62, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .scrib-info a, #content-wrapper .container12 .row .column4 .scrib-info a {
  text-decoration: none;
  background: white;
  padding: 3px 7px;
  font-size: 16px;
  font-family: "Inconsolata";
  margin: 0;
  display: inline-block;
  color: #151515;
}
/* line 72, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3 .scrib-info a i, #content-wrapper .container12 .row .column4 .scrib-info a i {
  font-size: 13px;
}
/* line 78, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3:hover .scrib-pop, #content-wrapper .container12 .row .column4:hover .scrib-pop {
  opacity: 1;
}
/* line 82, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .column3:hover .scrib-info, #content-wrapper .container12 .row .column4:hover .scrib-info {
  opacity: 1;
}
/* line 88, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .explore a {
  font-family: "Inconsolata";
  text-decoration: none;
  margin-right: 5px;
  color: #151515;
  padding: 3px 7px;
}
/* line 96, ../sass/includes/_content.scss */
#content-wrapper .container12 .row .explore .active {
  background: #F3F2F2;
  color: #151515;
}

/* line 1, ../sass/includes/_sign-in.scss */
#sign-in-wrapper, #sign-up-wrapper {
  width: 200px;
  height: 260px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 13, ../sass/includes/_sign-in.scss */
#sign-in-wrapper .login-logo a, #sign-up-wrapper .login-logo a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Inconsolata";
  font-size: 16px;
  color: #151515;
  margin-bottom: 20px;
}

/* line 25, ../sass/includes/_sign-in.scss */
#sign-up-wrapper {
  height: 285px;
}

/* line 36, ../sass/includes/_sign-in.scss */
#sign-up-wrapper .sign-option, #sign-in-wrapper .sign-option, #sign-up-wrapper .sign-option {
  text-decoration: none;
  font-family: "Inconsolata";
  font-size: 13px;
  color: #151515;
  text-align: center;
  display: block;
  margin: 15px 0;
  padding: 10px;
}
/* line 47, ../sass/includes/_sign-in.scss */
#sign-up-wrapper input, #sign-in-wrapper input, #sign-up-wrapper input {
  background-color: #F3F2F2;
  font-family: "Inconsolata";
  font-size: 13px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
/* line 56, ../sass/includes/_sign-in.scss */
#sign-up-wrapper input[type="text"], #sign-up-wrapper input[type="password"], #sign-up-wrapper input[type="submit"], #sign-in-wrapper input[type="text"], #sign-up-wrapper input[type="text"], #sign-in-wrapper input[type="password"], #sign-up-wrapper input[type="password"], #sign-in-wrapper input[type="submit"], #sign-up-wrapper input[type="submit"] {
  display: block;
  padding: 15px;
  border: none;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}
/* line 66, ../sass/includes/_sign-in.scss */
#sign-up-wrapper input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper input[type="password"]::-webkit-input-placeholder, #sign-up-wrapper input[type="submit"]::-webkit-input-placeholder, #sign-in-wrapper input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper input[type="text"]::-webkit-input-placeholder, #sign-in-wrapper input[type="password"]::-webkit-input-placeholder, #sign-up-wrapper input[type="password"]::-webkit-input-placeholder, #sign-in-wrapper input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper input[type="submit"]::-webkit-input-placeholder {
  font-family: "Inconsolata";
  font-size: 13px;
  color: #151515;
}
/* line 72, ../sass/includes/_sign-in.scss */
#sign-up-wrapper input[type="text"]:focus, #sign-up-wrapper input[type="password"]:focus, #sign-up-wrapper input[type="submit"]:focus, #sign-in-wrapper input[type="text"]:focus, #sign-up-wrapper input[type="text"]:focus, #sign-in-wrapper input[type="password"]:focus, #sign-up-wrapper input[type="password"]:focus, #sign-in-wrapper input[type="submit"]:focus, #sign-up-wrapper input[type="submit"]:focus {
  outline: none;
}
/* line 77, ../sass/includes/_sign-in.scss */
#sign-up-wrapper input[type="submit"], #sign-in-wrapper input[type="submit"], #sign-up-wrapper input[type="submit"] {
  cursor: pointer;
  background: #F0E68C;
}
/* line 82, ../sass/includes/_sign-in.scss */
#sign-up-wrapper label, #sign-in-wrapper label, #sign-up-wrapper label {
  cursor: pointer;
  font-family: "Inconsolata";
  font-size: 13px;
}
/* line 87, ../sass/includes/_sign-in.scss */
#sign-up-wrapper label input[type="checkbox"], #sign-in-wrapper label input[type="checkbox"], #sign-up-wrapper label input[type="checkbox"] {
  display: none;
}
/* line 90, ../sass/includes/_sign-in.scss */
#sign-up-wrapper label input[type="checkbox"] + .label-text:before, #sign-in-wrapper label input[type="checkbox"] + .label-text:before, #sign-up-wrapper label input[type="checkbox"] + .label-text:before {
  content: "\f0c8";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  color: #666666;
}
/* line 105, ../sass/includes/_sign-in.scss */
#sign-up-wrapper label input[type="checkbox"]:checked + .label-text:before, #sign-in-wrapper label input[type="checkbox"]:checked + .label-text:before, #sign-up-wrapper label input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  -webkit-animation: tick .2s ease;
}
/* line 110, ../sass/includes/_sign-in.scss */
#sign-up-wrapper label input[type="checkbox"] .label-text, #sign-in-wrapper label input[type="checkbox"] .label-text, #sign-up-wrapper label input[type="checkbox"] .label-text {
  position: absolute;
  top: 10px;
}
/* line 117, ../sass/includes/_sign-in.scss */
#sign-up-wrapper .failed, #sign-in-wrapper .failed, #sign-up-wrapper .failed {
  font-family: "Inconsolata";
  font-size: 13px;
  background-color: #FA8072;
  color: white;
  display: block;
}
/* line 125, ../sass/includes/_sign-in.scss */
#sign-up-wrapper .hidden, #sign-in-wrapper .hidden, #sign-up-wrapper .hidden {
  display: none;
}

/* line 9, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 {
  text-align: center;
}
/* line 12, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .profile-image {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #F3F2F2;
  border-radius: 50%;
}
/* line 20, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .username, #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .bio a {
  font-family: "Inconsolata";
  color: #151515;
  text-decoration: none;
  font-size: 16px;
}
/* line 27, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .user-info {
  margin: 0 10px;
  display: inline-block;
}
/* line 31, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .user-info a {
  font-size: 16px;
  color: #666666;
}
/* line 38, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .bio {
  width: 30%;
  margin: 0 auto;
}
/* line 42, ../sass/includes/_profile.scss */
#content-wrapper .container12 .row .column12 .bio a {
  font-size: 16px;
}
/* line 51, ../sass/includes/_profile.scss */
#content-wrapper .profile-container {
  margin-top: 30px;
}

/* line 1, ../sass/includes/_editor.scss */
#editor-layout {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  height: 0;
}
/* line 8, ../sass/includes/_editor.scss */
#editor-layout .block {
  width: 32.66%;
  float: left;
  margin: 0 auto;
  text-align: left;
  cursor: text;
  height: 0;
}
/* line 16, ../sass/includes/_editor.scss */
#editor-layout .block textarea {
  background: #F3F2F2;
  border: none;
  resize: none;
  width: 100%;
  height: 380px;
}
/* line 23, ../sass/includes/_editor.scss */
#editor-layout .block textarea:focus {
  outline: none;
}
/* line 28, ../sass/includes/_editor.scss */
#editor-layout .block:nth-child(2) {
  margin: 0 1%;
}
/* line 32, ../sass/includes/_editor.scss */
#editor-layout .block .editor-info {
  padding: 10px;
  background: #F3F2F2;
  position: relative;
}
/* line 41, ../sass/includes/_editor.scss */
#editor-layout .block .editor-info .editor-settings p {
  font-family: "Inconsolata";
}
/* line 46, ../sass/includes/_editor.scss */
#editor-layout .block .editor-info .editor-settings a {
  color: #151515;
  text-decoration: none;
}
/* line 50, ../sass/includes/_editor.scss */
#editor-layout .block .editor-info .editor-settings a .fa-cog {
  position: absolute;
  right: 15px;
  top: 11px;
}
/* line 59, ../sass/includes/_editor.scss */
#editor-layout .block .CodeMirror {
  padding: 10px 0;
  text-align: left;
}

/* line 1, ../sass/includes/_thanks.scss */
#thanks-content {
  width: 240px;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 11, ../sass/includes/_thanks.scss */
#thanks-content p {
  color: #151515;
  font-family: "Inconsolata";
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
}
/* line 19, ../sass/includes/_thanks.scss */
#thanks-content span {
  color: #FA8072;
}

/* line 1, ../sass/includes/_settings.scss */
.image-settings {
  margin-top: 30px;
}
