@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@-webkit-keyframes tick {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
header {
  padding: 25px 0;
  clear: both;
  width: 100%;
  display: inline-block;
  vertical-align: bottom; }
  header #header-wrapper {
    width: 95%;
    margin: 0 auto; }
    header #header-wrapper .intro {
      float: left; }
      header #header-wrapper .intro .logo, header #header-wrapper .intro .new-scrib {
        float: left; }
        header #header-wrapper .intro .logo a, header #header-wrapper .intro .new-scrib a {
          font-size: 13px;
          text-decoration: none;
          color: #151515;
          display: inline-block;
          padding: 7px 16px; }
        header #header-wrapper .intro .logo span, header #header-wrapper .intro .new-scrib span {
          font-size: 10px; }
        header #header-wrapper .intro .logo .logo-anchor, header #header-wrapper .intro .new-scrib .logo-anchor {
          padding: 7px 0; }
      header #header-wrapper .intro .new-scrib {
        margin-left: 20px;
        position: relative; }
        header #header-wrapper .intro .new-scrib a {
          color: white;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          -ms-border-radius: 1px;
          border-radius: 1px;
          background: #82bb80;
          margin-right: 5px;
          padding: 7px 16px;
          text-align: center;
          -webkit-transition: all 0.15s ease;
          -moz-transition: all 0.15s ease;
          -ms-transition: all 0.15s ease;
          -o-transition: all 0.15s ease;
          transition: all 0.15s ease; }
      header #header-wrapper .intro .scribe-options {
        float: left;
        padding: 0; }
        header #header-wrapper .intro .scribe-options a {
          color: #ccc;
          padding: 8px 16px;
          float: left;
          font-size: 13px;
          text-decoration: none; }
          header #header-wrapper .intro .scribe-options a:hover {
            color: #f0506b; }
          header #header-wrapper .intro .scribe-options a:active {
            color: #ea052c; }
        header #header-wrapper .intro .scribe-options i {
          font-size: 12px; }
        header #header-wrapper .intro .scribe-options #like-scribe.active {
          color: #ea052c; }
      header #header-wrapper .intro .counter {
        float: left;
        text-decoration: none;
        background: #F3F2F2;
        padding: 7px 16px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px;
        color: #474747;
        position: relative;
        margin-left: 3px;
        font-size: 13px; }
        header #header-wrapper .intro .counter:hover {
          color: #474747; }
        header #header-wrapper .intro .counter .triangle-left {
          position: absolute;
          left: -5px;
          top: 10px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid #F3F2F2;
          transition: all .15s; }
    header #header-wrapper .user {
      float: right;
      display: inline-block; }
      header #header-wrapper .user li {
        display: inline-block; }
        header #header-wrapper .user li .dropdown {
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          padding: 0;
          background: #F3F2F2;
          z-index: 100;
          padding: 7px 16px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          -ms-border-radius: 1px;
          border-radius: 1px; }
          header #header-wrapper .user li .dropdown li {
            display: block;
            margin: 8px 10px;
            text-align: center; }
            header #header-wrapper .user li .dropdown li a {
              text-decoration: none;
              color: #474747;
              font-size: 13px;
              display: block; }
              header #header-wrapper .user li .dropdown li a:hover {
                text-decoration: underline;
                color: #151515; }
        header #header-wrapper .user li .username, header #header-wrapper .user li .sign-up, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .pro, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .pro, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .follow-btn, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .follow-btn {
          padding: 7px 16px;
          margin-left: 10px;
          float: right;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          color: #474747 !important; }
          header #header-wrapper .user li .username:hover, header #header-wrapper .user li .sign-up:hover, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .pro:hover, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .pro:hover, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a:hover, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a:hover, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a:hover, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a:hover, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .follow-btn:hover, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .follow-btn:hover {
            color: #151515; }
          header #header-wrapper .user li .username i, header #header-wrapper .user li .sign-up i, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .pro i, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .pro i, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .user-info a i, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user li a i, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .bio a i, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user li a i, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .follow-btn i, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .follow-btn i {
            font-size: 16px; }
        header #header-wrapper .user li .notification {
          margin: 0;
          display: none; }
          header #header-wrapper .user li .notification span {
            padding: 7px 16px;
            font-size: 13px;
            display: inline-block;
            float: right;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            -ms-border-radius: 1px;
            border-radius: 1px;
            color: #222;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
            header #header-wrapper .user li .notification span i {
              font-size: 13px; }
        header #header-wrapper .user li .header-options span {
          color: #474747; }
      header #header-wrapper .user .notification, header #header-wrapper .user .username, header #header-wrapper .user li .sign-up, header #header-wrapper .user #content-wrapper .container12 .row .column12 .pro, #content-wrapper .container12 .row .column12 header #header-wrapper .user .pro, header #header-wrapper .user #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .user-info header #header-wrapper .user a, header #header-wrapper .user #content-wrapper .container12 .row .column12 .bio a, #content-wrapper .container12 .row .column12 .bio header #header-wrapper .user a, header #header-wrapper .user #content-wrapper .container12 .row .column12 .follow-btn, #content-wrapper .container12 .row .column12 header #header-wrapper .user .follow-btn, header #header-wrapper .user .header-options {
        text-decoration: none;
        font-size: 13px;
        color: #151515;
        display: inline-block;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px; }

#content-wrapper {
  width: 95%;
  margin: 0 auto; }
  #content-wrapper .container12 {
    margin-top: 15px; }
    #content-wrapper .container12 .row .column3, #content-wrapper .container12 .row .column4 {
      height: 220px;
      position: relative;
      background: #F3F2F2;
      margin-bottom: 20px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      overflow: hidden; }
      #content-wrapper .container12 .row .column3 iframe, #content-wrapper .container12 .row .column4 iframe {
        -webkit-transform: scale(0.5, 0.5) translate(-265px, -220px);
        position: absolute;
        top: 0;
        left: 0;
        width: 530px;
        height: 440px;
        opacity: 1;
        overflow: hidden; }
      #content-wrapper .container12 .row .column3 .created-by, #content-wrapper .container12 .row .column3 .scribe-heart-preview, #content-wrapper .container12 .row .column4 .created-by, #content-wrapper .container12 .row .column4 .scribe-heart-preview {
        display: block;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        margin: 10px;
        padding: 0px 0 0px 7px;
        color: white;
        font-size: 11px;
        text-transform: lowercase;
        padding: 7px 16px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px; }
      #content-wrapper .container12 .row .column3 .scribe-heart-preview, #content-wrapper .container12 .row .column4 .scribe-heart-preview {
        right: 0;
        background: none;
        border: none;
        cursor: pointer; }
        #content-wrapper .container12 .row .column3 .scribe-heart-preview:focus, #content-wrapper .container12 .row .column4 .scribe-heart-preview:focus {
          outline: none; }
        #content-wrapper .container12 .row .column3 .scribe-heart-preview i, #content-wrapper .container12 .row .column4 .scribe-heart-preview i {
          color: white; }
        #content-wrapper .container12 .row .column3 .scribe-heart-preview:hover, #content-wrapper .container12 .row .column4 .scribe-heart-preview:hover {
          background: none; }
      #content-wrapper .container12 .row .column3 .scrib-pop, #content-wrapper .container12 .row .column4 .scrib-pop {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.17s ease;
        -moz-transition: all 0.17s ease;
        -ms-transition: all 0.17s ease;
        -o-transition: all 0.17s ease;
        transition: all 0.17s ease;
        text-align: center;
        overflow: hidden;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px; }
        #content-wrapper .container12 .row .column3 .scrib-pop .view-scrib, #content-wrapper .container12 .row .column4 .scrib-pop .view-scrib {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          line-height: 16.7;
          color: white;
          text-decoration: none;
          font-size: 13px;
          background: #151515;
          -webkit-border-radius: 1.8px;
          -moz-border-radius: 1.8px;
          -ms-border-radius: 1.8px;
          border-radius: 1.8px;
          text-align: center; }
      #content-wrapper .container12 .row .column3:hover .scrib-pop, #content-wrapper .container12 .row .column4:hover .scrib-pop {
        opacity: 0.7; }
    #content-wrapper .container12 .row .explore a {
      text-decoration: none;
      padding: 7px 16px;
      color: #474747;
      font-size: 13px; }
    #content-wrapper .container12 .row .explore .active {
      background: #F3F2F2;
      color: #151515; }

footer {
  background: #151515;
  width: 100%;
  font-size: 13px; }
  footer .container12 .row {
    margin: 0 !important; }
    footer .container12 .row .copyright-float {
      color: #F3F2F2;
      float: left;
      padding: 20px 0; }
      footer .container12 .row .copyright-float .copyright {
        text-align: left;
        display: block;
        background: none;
        border: none;
        padding: 30px 0;
        display: inline-block; }
      footer .container12 .row .copyright-float a {
        text-decoration: none;
        display: inline-block;
        color: #F3F2F2;
        padding-right: 5px; }
        footer .container12 .row .copyright-float a:hover {
          text-decoration: underline; }
    footer .container12 .row .connect {
      float: right;
      padding: 50px 0;
      color: #F3F2F2; }
      footer .container12 .row .connect a {
        text-decoration: none;
        color: #F3F2F2; }
        footer .container12 .row .connect a:hover {
          text-decoration: underline; }
        footer .container12 .row .connect a i {
          font-size: 13px;
          margin-left: 20px; }

#moto {
  width: 100%;
  padding: 50px 0;
  background: #F3F2F2; }
  #moto h3 {
    text-align: center;
    font-size: 13px;
    font-weight: lighter; }

#sign-in-wrapper, #sign-up-wrapper, #forgot-password-wrapper {
  width: 200px;
  height: 260px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  #sign-in-wrapper .login-logo a, #sign-up-wrapper .login-logo a, #forgot-password-wrapper .login-logo a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #151515;
    margin-bottom: 20px; }

#sign-up-wrapper {
  height: 285px; }

#forgot-password-wrapper {
  height: 180px; }

#sign-up-wrapper .sign-option, #sign-in-wrapper .sign-option, #sign-up-wrapper .sign-option, #forgot-password-wrapper .sign-option, #forgot-password-wrapper .sign-option {
  text-decoration: none;
  font-size: 12px;
  color: #151515;
  text-align: center;
  display: block;
  margin: 15px 0;
  padding: 10px; }
#sign-up-wrapper input, #sign-in-wrapper input, #sign-up-wrapper input, #forgot-password-wrapper input, #forgot-password-wrapper input {
  background-color: #F3F2F2;
  font-size: 12px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
#sign-up-wrapper input[type="text"], #sign-up-wrapper input[type="password"], #sign-up-wrapper input[type="submit"], #sign-up-wrapper input[type="email"], #sign-in-wrapper input[type="text"], #sign-up-wrapper input[type="text"], #forgot-password-wrapper input[type="text"], #sign-in-wrapper input[type="password"], #sign-up-wrapper input[type="password"], #forgot-password-wrapper input[type="password"], #sign-in-wrapper input[type="submit"], #sign-up-wrapper input[type="submit"], #forgot-password-wrapper input[type="submit"], #sign-in-wrapper input[type="email"], #sign-up-wrapper input[type="email"], #forgot-password-wrapper input[type="email"], #forgot-password-wrapper input[type="text"], #forgot-password-wrapper input[type="password"], #forgot-password-wrapper input[type="submit"], #forgot-password-wrapper input[type="email"] {
  display: block;
  padding: 15px;
  border: none;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none; }
  #sign-up-wrapper input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper input[type="password"]::-webkit-input-placeholder, #sign-up-wrapper input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper input[type="email"]::-webkit-input-placeholder, #sign-in-wrapper input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper input[type="text"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="text"]::-webkit-input-placeholder, #sign-in-wrapper input[type="password"]::-webkit-input-placeholder, #sign-up-wrapper input[type="password"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="password"]::-webkit-input-placeholder, #sign-in-wrapper input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper input[type="submit"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="submit"]::-webkit-input-placeholder, #sign-in-wrapper input[type="email"]::-webkit-input-placeholder, #sign-up-wrapper input[type="email"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="email"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="text"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="password"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="submit"]::-webkit-input-placeholder, #forgot-password-wrapper input[type="email"]::-webkit-input-placeholder {
    font-size: 12px;
    color: #474747; }
  #sign-up-wrapper input[type="text"]:focus, #sign-up-wrapper input[type="password"]:focus, #sign-up-wrapper input[type="submit"]:focus, #sign-up-wrapper input[type="email"]:focus, #sign-in-wrapper input[type="text"]:focus, #sign-up-wrapper input[type="text"]:focus, #forgot-password-wrapper input[type="text"]:focus, #sign-in-wrapper input[type="password"]:focus, #sign-up-wrapper input[type="password"]:focus, #forgot-password-wrapper input[type="password"]:focus, #sign-in-wrapper input[type="submit"]:focus, #sign-up-wrapper input[type="submit"]:focus, #forgot-password-wrapper input[type="submit"]:focus, #sign-in-wrapper input[type="email"]:focus, #sign-up-wrapper input[type="email"]:focus, #forgot-password-wrapper input[type="email"]:focus, #forgot-password-wrapper input[type="text"]:focus, #forgot-password-wrapper input[type="password"]:focus, #forgot-password-wrapper input[type="submit"]:focus, #forgot-password-wrapper input[type="email"]:focus {
    outline: none; }
#sign-up-wrapper input[type="text"], #sign-up-wrapper input[type="password"], #sign-in-wrapper input[type="text"], #sign-up-wrapper input[type="text"], #forgot-password-wrapper input[type="text"], #sign-in-wrapper input[type="password"], #sign-up-wrapper input[type="password"], #forgot-password-wrapper input[type="password"], #forgot-password-wrapper input[type="text"], #forgot-password-wrapper input[type="password"] {
  color: #474747; }
#sign-up-wrapper input[type="submit"], #sign-in-wrapper input[type="submit"], #sign-up-wrapper input[type="submit"], #forgot-password-wrapper input[type="submit"], #forgot-password-wrapper input[type="submit"] {
  cursor: pointer;
  background: #222;
  color: white; }
#sign-up-wrapper label, #sign-in-wrapper label, #sign-up-wrapper label, #forgot-password-wrapper label, #forgot-password-wrapper label {
  cursor: pointer;
  font-size: 12px; }
  #sign-up-wrapper label input[type="checkbox"], #sign-in-wrapper label input[type="checkbox"], #sign-up-wrapper label input[type="checkbox"], #forgot-password-wrapper label input[type="checkbox"], #forgot-password-wrapper label input[type="checkbox"] {
    display: none; }
    #sign-up-wrapper label input[type="checkbox"] + .label-text:before, #sign-in-wrapper label input[type="checkbox"] + .label-text:before, #sign-up-wrapper label input[type="checkbox"] + .label-text:before, #forgot-password-wrapper label input[type="checkbox"] + .label-text:before, #forgot-password-wrapper label input[type="checkbox"] + .label-text:before {
      content: "\f0c8";
      font-family: "FontAwesome";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
      color: #EDEDED; }
    #sign-up-wrapper label input[type="checkbox"]:checked + .label-text:before, #sign-in-wrapper label input[type="checkbox"]:checked + .label-text:before, #sign-up-wrapper label input[type="checkbox"]:checked + .label-text:before, #forgot-password-wrapper label input[type="checkbox"]:checked + .label-text:before, #forgot-password-wrapper label input[type="checkbox"]:checked + .label-text:before {
      content: "\f14a";
      color: #222;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    #sign-up-wrapper label input[type="checkbox"] .label-text, #sign-in-wrapper label input[type="checkbox"] .label-text, #sign-up-wrapper label input[type="checkbox"] .label-text, #forgot-password-wrapper label input[type="checkbox"] .label-text, #forgot-password-wrapper label input[type="checkbox"] .label-text {
      position: absolute;
      top: 10px; }
#sign-up-wrapper .failed, #sign-in-wrapper .failed, #sign-up-wrapper .failed, #forgot-password-wrapper .failed, #forgot-password-wrapper .failed {
  font-size: 12px;
  text-decoration: line-through;
  display: block; }
#sign-up-wrapper .hidden, #sign-in-wrapper .hidden, #sign-up-wrapper .hidden, #forgot-password-wrapper .hidden, #forgot-password-wrapper .hidden {
  display: none; }

#content-wrapper .container12 .arrows {
  text-align: center;
  margin-bottom: 40px; }
  #content-wrapper .container12 .arrows a {
    padding: 10px 14px;
    color: #474747;
    background: #F3F2F2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    font-size: 11px;
    display: inline-block;
    margin: 3px; }
    #content-wrapper .container12 .arrows a i {
      vertical-align: middle; }
#content-wrapper .container12 .row .column12 {
  text-align: center; }
  #content-wrapper .container12 .row .column12 .profile-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #F3F2F2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
    #content-wrapper .container12 .row .column12 .profile-image img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%; }
  #content-wrapper .container12 .row .column12 .username, #content-wrapper .container12 .row .column12 header #header-wrapper .user li .sign-up, header #header-wrapper .user li #content-wrapper .container12 .row .column12 .sign-up, #content-wrapper .container12 .row .column12 .pro, #content-wrapper .container12 .row .column12 .user-info a, #content-wrapper .container12 .row .column12 .bio a, #content-wrapper .container12 .row .column12 .follow-btn {
    color: #151515;
    text-decoration: none;
    font-size: 13px; }
  #content-wrapper .container12 .row .column12 .pro {
    display: none;
    padding: 7px 16px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px; }
  #content-wrapper .container12 .row .column12 .user-info {
    margin: 0 10px;
    display: inline-block; }
    #content-wrapper .container12 .row .column12 .user-info a {
      font-size: 12px;
      color: #474747; }
    #content-wrapper .container12 .row .column12 .user-info .user-info-number {
      color: #222;
      font-size: 16px; }
  #content-wrapper .container12 .row .column12 .bio {
    width: 30%;
    margin: 0 auto; }
    #content-wrapper .container12 .row .column12 .bio a {
      font-size: 13px; }
  #content-wrapper .container12 .row .column12 .follow-btn {
    display: block;
    padding: 7px 16px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    background: #151515;
    margin: 0 auto;
    color: white;
    border: none;
    cursor: pointer; }
#content-wrapper .profile-container {
  margin-top: 30px; }

#editor-layout {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  -webkit-box-sizing: border-box !important; }
  #editor-layout .block {
    margin: 0;
    padding: 0 0;
    width: 33%;
    position: relative;
    height: 400px;
    -webkit-box-sizing: border-box;
    display: inline-block;
    text-align: left;
    cursor: text;
    vertical-align: top; }
    #editor-layout .block textarea {
      background: #F3F2F2;
      border: none;
      resize: none;
      width: 100%;
      height: 400px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #editor-layout .block textarea:focus {
        outline: none; }
    #editor-layout .block:nth-child(2) {
      margin: 0 .1%;
      border-right: 1px solid #555;
      border-left: 1px solid #555; }
    #editor-layout .block .editor-info {
      background: #F3F2F2;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      z-index: 100;
      cursor: pointer;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      border: 1px solid #EDEDED;
      opacity: .2;
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      transition: all 0.15s ease; }
      #editor-layout .block .editor-info:hover {
        opacity: .8; }
      #editor-layout .block .editor-info .editor-settings p {
        background: none;
        line-height: 0;
        display: inline-block;
        color: #151515;
        border: none !important; }
      #editor-layout .block .editor-info .editor-settings a {
        color: #151515 !important;
        text-decoration: none;
        display: inline-block;
        font-size: 13px; }
        #editor-layout .block .editor-info .editor-settings a .ion-gear-a {
          display: none;
          position: absolute;
          top: 6px;
          right: 10px; }
    #editor-layout .block .CodeMirror {
      height: 380px;
      padding: 10px 0;
      text-align: left; }

::-webkit-scrollbar {
  width: 4px;
  hieght: 4px; }

::-webkit-scrollbar-thumb {
  background: #222; }

#editor-layout .block .editor-info {
  position: absolute;
  bottom: 10px;
  top: auto;
  color: #fff;
  background: none;
  border: 0;
  opacity: 1; }

#editor-layout .block .editor-info:hover {
  opacity: 1; }

.editor-info ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.editor-info ul li {
  display: inline-block;
  padding: 0 10px;
  opacity: .25;
  transition: all .25s ease; }

.editor-info ul li:hover,
.editor-info ul li.active {
  opacity: .5; }

.editor-info ul:not(.open) li:not(.active) {
  width: 0 !important;
  padding: 0;
  visibility: hidden;
  opacity: 0; }

#sandbox, #sandbox-buffer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

#editor-layout {
  position: relative; }

#editor-layout .block {
  height: auto;
  border: 0 !important;
  position: absolute;
  width: 33.4% !important; }

#editor-layout .block .CodeMirror {
  height: auto; }

#html-pane {
  left: 0 !important; }

#css-pane {
  left: 33.3% !important; }

#js-pane {
  right: 0 !important; }

#v-drag {
  position: absolute;
  left: 50%;
  width: 32px;
  margin-left: -16px;
  color: #fff;
  z-index: 100;
  opacity: .5;
  height: 20px;
  line-height: 20px;
  transition: opacity 250ms ease; }

#v-drag:hover,
#v-drag:active {
  opacity: 1; }

.username-in-editor {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin: 10px;
  display: inline-block; }
  .username-in-editor a {
    text-decoration: none;
    color: #474747;
    font-size: 13px;
    display: block;
    padding: 7px 16px;
    background: #F3F2F2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px; }
    .username-in-editor a:hover {
      color: #151515; }

#thanks-content {
  width: 240px;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  #thanks-content p {
    color: #151515;
    font-size: 13px;
    text-align: center;
    line-height: 1.3;
    background: transparent !important;
    border: none; }
  #thanks-content span {
    color: #222; }

.profile-image form input[type="text"], .profile-image #sign-up-wrapper .sign-up input[type="text"], #sign-up-wrapper .profile-image .sign-up input[type="text"], .name form input[type="text"], .name #sign-up-wrapper .sign-up input[type="text"], #sign-up-wrapper .name .sign-up input[type="text"], .links-settings form input[type="text"], .links-settings #sign-up-wrapper .sign-up input[type="text"], #sign-up-wrapper .links-settings .sign-up input[type="text"], .save-all-changes form input[type="text"], .save-all-changes #sign-up-wrapper .sign-up input[type="text"], #sign-up-wrapper .save-all-changes .sign-up input[type="text"] {
  width: 200px;
  display: inline-block;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  background: #F3F2F2;
  font-size: 12px;
  color: #151515;
  border: 1px solid #EDEDED !important;
  color: #474747;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }
  .profile-image form input[type="text"]::-webkit-input-placeholder, .profile-image #sign-up-wrapper .sign-up input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper .profile-image .sign-up input[type="text"]::-webkit-input-placeholder, .name form input[type="text"]::-webkit-input-placeholder, .name #sign-up-wrapper .sign-up input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper .name .sign-up input[type="text"]::-webkit-input-placeholder, .links-settings form input[type="text"]::-webkit-input-placeholder, .links-settings #sign-up-wrapper .sign-up input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper .links-settings .sign-up input[type="text"]::-webkit-input-placeholder, .save-all-changes form input[type="text"]::-webkit-input-placeholder, .save-all-changes #sign-up-wrapper .sign-up input[type="text"]::-webkit-input-placeholder, #sign-up-wrapper .save-all-changes .sign-up input[type="text"]::-webkit-input-placeholder {
    font-size: 12px;
    color: #151515; }
  .profile-image form input[type="text"]:focus, .profile-image #sign-up-wrapper .sign-up input[type="text"]:focus, #sign-up-wrapper .profile-image .sign-up input[type="text"]:focus, .name form input[type="text"]:focus, .name #sign-up-wrapper .sign-up input[type="text"]:focus, #sign-up-wrapper .name .sign-up input[type="text"]:focus, .links-settings form input[type="text"]:focus, .links-settings #sign-up-wrapper .sign-up input[type="text"]:focus, #sign-up-wrapper .links-settings .sign-up input[type="text"]:focus, .save-all-changes form input[type="text"]:focus, .save-all-changes #sign-up-wrapper .sign-up input[type="text"]:focus, #sign-up-wrapper .save-all-changes .sign-up input[type="text"]:focus {
    outline: none; }
.profile-image form input[type="submit"], .profile-image #sign-up-wrapper .sign-up input[type="submit"], #sign-up-wrapper .profile-image .sign-up input[type="submit"], .name form input[type="submit"], .name #sign-up-wrapper .sign-up input[type="submit"], #sign-up-wrapper .name .sign-up input[type="submit"], .links-settings form input[type="submit"], .links-settings #sign-up-wrapper .sign-up input[type="submit"], #sign-up-wrapper .links-settings .sign-up input[type="submit"], .save-all-changes form input[type="submit"], .save-all-changes #sign-up-wrapper .sign-up input[type="submit"], #sign-up-wrapper .save-all-changes .sign-up input[type="submit"] {
  width: 200px;
  display: inline-block;
  padding: 15px;
  border: none;
  margin: 10px 0;
  box-sizing: border-box;
  background: #222;
  font-size: 12px;
  color: white;
  cursor: pointer;
  border: 1px solid #222;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }
  .profile-image form input[type="submit"]::-webkit-input-placeholder, .profile-image #sign-up-wrapper .sign-up input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper .profile-image .sign-up input[type="submit"]::-webkit-input-placeholder, .name form input[type="submit"]::-webkit-input-placeholder, .name #sign-up-wrapper .sign-up input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper .name .sign-up input[type="submit"]::-webkit-input-placeholder, .links-settings form input[type="submit"]::-webkit-input-placeholder, .links-settings #sign-up-wrapper .sign-up input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper .links-settings .sign-up input[type="submit"]::-webkit-input-placeholder, .save-all-changes form input[type="submit"]::-webkit-input-placeholder, .save-all-changes #sign-up-wrapper .sign-up input[type="submit"]::-webkit-input-placeholder, #sign-up-wrapper .save-all-changes .sign-up input[type="submit"]::-webkit-input-placeholder {
    font-size: 12px;
    color: #151515; }
  .profile-image form input[type="submit"]:focus, .profile-image #sign-up-wrapper .sign-up input[type="submit"]:focus, #sign-up-wrapper .profile-image .sign-up input[type="submit"]:focus, .name form input[type="submit"]:focus, .name #sign-up-wrapper .sign-up input[type="submit"]:focus, #sign-up-wrapper .name .sign-up input[type="submit"]:focus, .links-settings form input[type="submit"]:focus, .links-settings #sign-up-wrapper .sign-up input[type="submit"]:focus, #sign-up-wrapper .links-settings .sign-up input[type="submit"]:focus, .save-all-changes form input[type="submit"]:focus, .save-all-changes #sign-up-wrapper .sign-up input[type="submit"]:focus, #sign-up-wrapper .save-all-changes .sign-up input[type="submit"]:focus {
    outline: none; }

.image-settings {
  margin-top: 30px; }
  .image-settings .profile-image {
    position: relative;
    overflow: hidden; }
    .image-settings .profile-image form input[type="file"], .image-settings .profile-image #sign-up-wrapper .sign-up input[type="file"], #sign-up-wrapper .image-settings .profile-image .sign-up input[type="file"] {
      color: transparent;
      text-align: center;
      position: absolute;
      left: -1px;
      top: 100%;
      margin: 0;
      background: #151515;
      -webkit-appearance: none;
      padding: 10px;
      opacity: .8;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .image-settings .profile-image form input[type="file"]:focus, .image-settings .profile-image #sign-up-wrapper .sign-up input[type="file"]:focus, #sign-up-wrapper .image-settings .profile-image .sign-up input[type="file"]:focus {
        padding: 0;
        margin: 0; }
    .image-settings .profile-image:hover input[type="file"] {
      top: 59%; }

.name {
  margin-top: 20px; }

.links-settings form input[type="text"]:nth-child(2), .links-settings #sign-up-wrapper .sign-up input[type="text"]:nth-child(2), #sign-up-wrapper .links-settings .sign-up input[type="text"]:nth-child(2) {
  margin: 0 10px; }

p {
  font-size: 12px;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 7px 16px;
  margin: 0;
  background: #222;
  border: 1px solid #222;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }

.follow-wrapper {
  margin-top: 15px; }

.container12 .row .column2 {
  text-align: center; }
  .container12 .row .column2 img {
    width: 100px;
    height: 100px; }
  .container12 .row .column2 a {
    text-decoration: none;
    color: #151515;
    font-size: 13px;
    display: block;
    margin-top: 5px; }

* {
  font-family: "Source Code Pro"; }

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Code Pro";
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=screen.css.map */
