// fonts-sizes
$base-font-size: 15px;
$small-font-size: 12px;
$mediam-font-size: 14px;
$large-font-size: 17px;

// font-family
$base-font-family: 'Inconsolata';

// colors
$accent-color: #151515;
$accent-color-light: #222;
$accent-color-dark: black;

$chalk: #F3F2F2;
$chalk-dark: #EDEDED;
$chalk-dark-text: #474747;

$secondary-accent: #8892BF;
$secondary-accent-dark: #7783b6;

// button paddings
$small-button: 5px 11px;